.btn{
    background-color: rgb(237, 178, 0)!important;
    border: none!important;
}
.crslbckgrnd{
    background-color: black;
    width:100%;
}

.crsl{
    margin-left: auto;
    margin-right: auto;
    width: 80vw!important;
}
.carousel{
    height:100%!important;
}
.carousel-item{
    height:100%!important;
}
.slidecaptionone{
    color:black!important;
}

#newestpost{
    color:white;
    background-color: rgb(51, 51, 51);
    border-radius: 5px; 
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    width: 50vw!important;
}
#thepost{
    color: white;
}
#title{
    color:white;
    margin-top: 5vh;
    text-align: center;
    height:5vh;
}
.postcontent{
    height: 20vh;
    width: 80%;
}
.postimage{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-right: 2.5vh;
    border-radius: 5px;
    height: 15vh;

}
#posttext{
    text-align: center;
    margin-left: 2.5vh;
}