.gamestitle{
    text-align: center;
    margin-top: 12vh;
}
.games{
    margin-left: auto!important;
    margin-right: auto!important;
}
.game{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    margin-bottom: 12vh;
}
.btn{
    background-color: rgb(237, 178, 0)!important;
    border: none!important;
}
.footer{
    margin-top: 10vh!important;
}