#helptitle{
    margin-top: 40px;
    text-align: center;
    color:white;
}
.helptitles{
    text-align: center;
    color:white;
}
.faqform{
    margin-top: 2vh;
    color:white;

}
.cform{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 10vh;
    border-radius: 5px;
    height: 80vw;
    max-height: 600px;
    width:80vw;
    max-width: 800px;
    background-color: darkgray;
}
.distance{
    height: 2vh;
}
.form-group{
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}
.btn{
    background-color: rgb(237, 178, 0)!important;
    border: none!important;
}